.App {
  margin-left: 30px
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.btn-normal {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  width: 120px;
  height: auto;
}

.textbox {
  margin: 10px;
  resize: none;
}
